# MQTT server configuration
mqtt_host = "host"
mqtt_user = "username"
mqtt_password = "password"
mqtt_port = "1883"
mqtt_topic_prefix = "netflix_monior"

browser = "Chrome"
sites_to_check = [ 'https://www.netflix.com/' , 'https://www.hbomax.com/']
sleep = 10